* {
  font-family: "Inter";
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  background: #f3f5fc;
}

.logo {
  padding: 0px;
  gap: 40px;
  position: absolute;
  width: 120px;
  height: 48px;
  left: 40px;
  top: 40px;
}

.titulo-centralizado {
  text-align: center;
  color: #0a3871;
}

main {
  display: flex;
  margin-bottom: 50px;
  margin-left: 80px;
}

.text-area-left {
  position: absolute;
  width: 577px;
  height: 348px;
  left: 240px;
  top: 48px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;

  border: none;
  color: #0a3871;
  margin-top: 90px;
  text-transform: lowercase;
}
::placeholder {
  color: #0a3871;
}
.text-area-left:focus {
  outline: none;
}

.informacion {
  width: 300px;
  height: 18px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;
  margin-top: 419px;
}

.text-area-right {
  background: #ffffff;

  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  background-image: url("imagenes/Muñeco.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 24px;
  color: #0a3871;
  position: fixed;
  margin-left: 50px;

  width: 400px;
  height: 580px;
  left: 800px;
  top: 100px;
}
.text-area-right:focus {
  outline: none;
}

.botones {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  position: absolute;
  width: 680px;
  height: 67px;
  left: 240px;
  top: 550px;
}

.bton-encriptar {
  color: #ffffff;
  cursor: pointer;
  width: 250px;
  height: 67px;
  /* Dark blue/dark-blue-300 */
  background: #0a3871;
  border-radius: 24px;
  text-align: center;
}

.bton-desencriptar {
  color: #0a3871;
  cursor: pointer;
  width: 250px;
  height: 67px;

  /* Light gray */

  background: #d8dfe8;
  /* Dark blue/dark-blue-300 */

  border: 1px solid #0a3871;
  border-radius: 24px;

  /* Inside auto layout */
}
.bton-copiar {
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  height: 67px;
  margin-left: 500px;
  margin-top: 450px;
  position: absolute;
  width: 336px;
}

@media screen and (max-width: 820px) {
  main {
    display: inline-block;
    margin-bottom: 50px;
    margin-left: 80px;
  }

  .text-area-left {
    left: 120px;
    top: 48px;
  }

  .text-area-right {
    position: absolute;
    width: 600px;
    height: 450px;
    left: 40px;
    top: 630px;
  }

  .botones {
    left: 120px;
  }

  .bton-copiar {
    margin-left: 120px;
    margin-top: 440px;
  }
}

@media screen and (max-width: 420px) {
  .logo {
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
  }

  .titulo-centralizado {
    display: none;
  }

  main {
    display: inline-block;
    margin-bottom: 50px;
    margin-left: 60px;
  }

  .text-area-left {
    position: absolute;
    width: 343px;
    height: 248px;
    left: 16px;
    top: 32px;
  }

  .informacion {
    width: 200px;
    height: 18px;
  }

  .text-area-right {
    position: absolute;
    width: 300px;
    height: 450px;
    margin-left: 2px;

    top: 630px;
  }

  .botones {
    display: contents;
    left: 240px;
  }

  .bton-copiar {
    margin-left: 0px;
    margin-top: 380px;
    position: absolute;
    width: 250px;
  }
}
